@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-pretendard), sans-serif;
    background-color: #000;
  }

  body {
    @apply w-full min-h-screen bg-gray-black text-gray-white;
  }

  section {
    @apply h-screen;
  }
}

@layer utilities {
  .font-pretendard {
    font-family: var(--font-pretendard), sans-serif;
  }
}

@media (min-width: 768px) {
  .react-fullpage-container {
    max-width: 430px !important;
    margin: 0 auto !important;
  }
}

html,
body {
  overflow: hidden;
}

@theme {
  --color-red-100: #ffdde5;
  --color-red-200: #ffc4d2;
  --color-red-300: #ff92ad;
  --color-red-400: #ff5d7e;
  --color-red-main: #ff1f44;
  --color-red-600: #e6103e;
  --color-red-700: #be1e31;

  --color-gray-white: #fafafa;
  --color-gray-100: #ececee;
  --color-gray-200: #dddee0;
  --color-gray-300: #a6a7ab;
  --color-gray-400: #95969b;
  --color-gray-500: #7a7d82;
  --color-gray-600: #6f7176;
  --color-gray-700: #57585c;
  --color-gray-800: #434448;
  --color-gray-850: #333537;
  --color-gray-900: #29292c;
  --color-gray-950: #1b1b1b;
  --color-gray-black: #0e0e0e;

  --fs-title-1: 1.5rem; /* 24px */
  --fs-title-2: 1.375rem; /* 22px */
  --fs-title-3: 1.25rem; /* 20px */
  --fs-body-1: 1.125rem; /* 18px */
  --fs-body-2: 1rem; /* 16px */
  --fs-body-3: 0.875rem; /* 14px */
  --fs-caption-1: 0.75rem; /* 12px */
  --fs-caption-2: 0.6875rem; /* 11px */
  --fs-caption-3: 0.625rem; /* 10px */
}
@layer components {
  .container-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title-1-bold {
    font-size: var(--fs-title-1);
    font-weight: 700;
    line-height: 150%;
  }
  .title-1-semibold {
    font-size: var(--fs-title-1);
    font-weight: 600;
    line-height: 150%;
  }

  .title-2-bold {
    font-size: var(--fs-title-2);
    font-weight: 700;
    line-height: 150%;
  }
  .title-2-semibold {
    font-size: var(--fs-title-2);
    font-weight: 600;
    line-height: 150%;
  }

  .title-3-bold {
    font-size: var(--fs-title-3);
    font-weight: 700;
    line-height: 140%;
  }
  .title-3-semibold {
    font-size: var(--fs-title-3);
    font-weight: 600;
    line-height: 140%;
  }

  .body-1-semibold {
    font-size: var(--fs-body-1);
    font-weight: 600;
    line-height: 140%;
  }
  .body-1-medium {
    font-size: var(--fs-body-1);
    font-weight: 500;
    line-height: 140%;
  }

  .body-2-semibold {
    font-size: var(--fs-body-2);
    font-weight: 600;
    line-height: 140%;
  }
  .body-2-medium {
    font-size: var(--fs-body-2);
    font-weight: 500;
    line-height: 140%;
  }

  .body-3-semibold {
    font-size: var(--fs-body-3);
    font-weight: 600;
    line-height: 140%;
  }
  .body-3-medium {
    font-size: var(--fs-body-3);
    font-weight: 500;
    line-height: 140%;
  }
  .body-3-regular {
    font-size: var(--fs-body-3);
    font-weight: 400;
    line-height: 140%;
  }
  .caption-1-medium {
    font-size: var(--fs-caption-1);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-1-regular {
    font-size: var(--fs-caption-1);
    font-weight: 400;
    line-height: 130%;
  }

  .caption-2-medium {
    font-size: var(--fs-caption-2);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-2-regular {
    font-size: var(--fs-caption-2);
    font-weight: 400;
    line-height: 130%;
  }
  .caption-3-medium {
    font-size: var(--fs-caption-3);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-3-regular {
    font-size: var(--fs-caption-3);
    font-weight: 400;
    line-height: 130%;
  }
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 0.3s;
  }
  .animation-delay-300 {
    animation-delay: 0.8s;
  }
  .animation-delay-500 {
    animation-delay: 1.3s;
  }
  .animation-delay-700 {
    animation-delay: 1.8s;
  }
}
.bg-landing-bg-50 {
  background-image: url("/background-mvbk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.5;
}

.bg-landing-bg-30 {
  background-image: url("/background-mvbk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.3;
}
